* {
    box-sizing: border-box;
}

body {
    background-image: url(https://images.unsplash.com/photo-1586446911746-3038e9751ac9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: rgb(57, 107, 174);
}

#root {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: column;
    flex: 0 0 230px;
    margin: 1rem;
    position: sticky;
    top: 1rem;
    align-self: flex-start;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.visible {
    display: flex;
    transition: display 1s ease-in-out;
}

.invisible {
    display: none;
    transition: display 2s ease-in-out;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    width: 100%;

    color: black;
    border-radius: 20px 20px 0 0;
    height: 80px;
}

header span {
    font-size: 3rem;
}

.infoCard,
.datesCard,
.pricesCard,
.optionsCard,
.documentCard {
    width: 600px;
    background-image: url(https://images.unsplash.com/photo-1528731708534-816fe59f90cb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px 20px 0 0;
    margin: 1rem;
}

.datesCard {
    width: 450px;
}

.pricesCard,
.optionsCard,
.documentCard {
    width: 400px;
}

.renter,
.people {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom: 0;
}

.people {
    padding-bottom: 1rem;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}

.address .main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.additional {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

input {
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #22254b;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    color: rgb(103, 99, 99);
}

input:focus {
    outline: none;
}

.input-med {
    width: 200px;
}

.input-sm {
    width: 100px;
    height: 40px;
}

.prices {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80%;
}

.start,
.end,
.price,
.arrhes,
.garantie,
.cleaning,
.sheets {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.price,
.arrhes,
.garantie,
.cleaning,
.sheets {
    align-items: center;
}

.labelFees {
    padding-left: 5.5rem;
    padding-bottom: 0.5rem;
    align-self: start;
    font-size: 1.3rem;
}

.labelFees.visible {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

.labelFees.unvisible {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.menuButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.language,
.location,
.origin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}

span {
    font-size: 1.5rem;
    padding: 1rem;
}

button {
    align-content: center;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding-left: 1rem;
    margin-bottom: 2rem;
}

@media (max-width: 375px) {
    .container {
        min-width: 0;
    }

    header {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
