.menu {
    display: flex;
    flex-direction: column;
    flex: 0 0 230px;
    margin: 1rem;
    position: sticky;
    top: 3.5rem;
    align-self: flex-start;
    background-color: rgba(25, 25, 25, 0.3);
    border-radius: 15px;
    height: 300px;
    justify-content: space-around;
    padding: 0.5rem;
}
