.main {
    width: 400px;
    background-image: url(https://images.unsplash.com/photo-1528731708534-816fe59f90cb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px 20px 0 0;
    margin: 1rem;
}

.cleaning,
.sheets {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

.labelFees {
    padding-left: 5.5rem;
    padding-bottom: 0.5rem;
    align-self: start;
    font-size: 1.3rem;
}

.visible {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

.invisible {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}
